*{
  margin:0;
  padding:;
  box-sizing:border-box;

}


.form{
  width: 60%;
  height: auto;
}

.form-bg{
 
  background-color:darkgray;
}

.registerForm{
   width:45%;
  height: auto;
}

.product-column{
  margin: 0 15px 25px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  background:#fff;
  border-radius: 10px;
  flex-basis:33%;
}

.product-container{
  max-width:1170px;
  width:100%;
  margin: 0 auto;
  display: flex;
}
.product-card{
  padding: 15px 25px;
}

.card-img{
  max-width:100%;
  height:280px;
}
.offcanvas-img{

  max-width:100%;
  height:280px;
}

.offcanvas-span{
  font-weight: bold;
}

p{
  font-size: 1.5rem;
}
.quantity{
  font-size: .5em;
}

#links-below{
  font-weight: bolder;
  justify-content: space-around;
  align-content: center;
}
#links-below:hover{
  text-decoration: none;
}
.navigation{
  font-size: 1rem;
  float: right;
}

.p-card{

  font-size: 1rem;
}
